<br><br><br><br><br><br><br><br><br>

<h3 class="text-center">Here is the value of your Crypto</h3><br>
<br><br>

<h5 class="text-center"><%= @currency.name %></h5>
<blockquote class="blockquote text-center">
 <p class="mb-0">$<%= @currency.value %></p>

